

.footer-comp {
    background-color: #002800;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px 30px;
}

.sub-footer{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 30px;
}

h2{
    color: azure;
}

.footer-img{
    height: 100px;
    width: 100px;
}
