card {
  max-width: 100%;
  max-height: 100%;
}

.card-img {
  max-width: 90%;
  max-height: 100%;
  padding: 25px 0 0 0;
  padding-left: 100px;
}

.card-title {
  color: orangered;
}

h1 {
  color: azure;
}

.op {
  background-color: black;
  margin-top: 30px;
  max-width: 90%;
  max-height: 100%;
  margin-left: 100px;
}
.op-header {
  text-align: left;
  padding: 20px;
  border-radius: 20px;
}

.card-img1 {
  padding: 30px 0 30px 0;
}
